html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	width: 60%;
	height: 60%;
	margin: 0, auto;
}

.bold {
	font-weight: bold;
}

.owm-layercontrol-header {
	font-size: larger;
	font-weight: bold;
	display: block;
	position: relative;
}

