body {
  background: #ffffff;
  color: #333333;
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #65a058;
}

.site-header .navbar-nav .nav-link {
  color: #ced6cd;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 700;
}

.form-section {
  padding: 50px 50px;
  border: 1px solid #65a058;
  border-radius: 3px;
  margin-bottom: 20px;
}

.link {
  color: #65a058
}
