<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--sets up bootstrap for the document and relavent styling-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Weather Map</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md bg-steel fixed-top">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Weather Map</a>
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              <a class="nav-item nav-link" href="{{ url_for('location') }}">location</a>
            </div>
              <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <!--to create a flass message the code blocks have been made to link for the forms.py and html documents and reteive the correct information-->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category,  message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          <!--this block code relates to the relavent page html (template inheritance)-->
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
</body>
</html>
