<!--connects this html to main layout html to avoid repeated code-->
<!--maybe create another template inheritance structure to reduce the similar coding between the forms?-->
{% extends "layout.html" %}
{% block content %}
    <div class="form-section">
        <form method="POST" action="">
          <!--hidden tags ads a csrf token, this is part of the secret key protection -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-6">Join Now</legend>
                <div class="form-part">
                  <!--these are the fields from the form that have been created in the main.py-->
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        <!--bootstrap to make form look good and consistant-->
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-content">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    <!--if and else statement to create an error if information added is invalid in some way-->
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-part">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-content">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-part">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-content">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-part">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-content">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-part">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="link" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
